// ***** THEMING TEMPLATE


//BRAND COLOR SETTINGS
$p-c: #23B5D3; //PRIMARY COLOR
$s-c: #FDC216; //ALTERNATIVE OR SECONDARY COLOR HEX CODE HERE *
$p-c-dim: #0B2239; 
$body-col: #F4F5F7;
$entry-bg: #3545A8;


//button
$btn-height: 52px;
$entry-height: 48px;

//text color
$text-color: rgba(0,0,0,0.65);
$title-color: rgba(0,0,0,0.85);
$plh-color: rgba(0,0,0,0.45);